{% extends 'base.html.twig' %}

{% block title %}Symrecipe - Modification de l'utilisateur{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="my-4">Modification des informations de l'utilisateur</h2>

    {# read and display just one flash message type #}
        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning mt-4" style="max-width: 40rem;">
                {{ message }}
            </div>
        {% endfor %}

        <div class="row bg-secondary-subtle col-8 px-4 mb-5" style="margin-bottom: 80px">
            {{ form_start(form) }}
            
                <div class="row">
                    <div class="form-group col-6">
                        {{ form_label(form.firstName) }}
                        {{ form_widget(form.firstName) }}
                        <div class="form-error">
                            {{ form_errors(form.firstName) }}
                        </div>
                    </div>

                    <div class="form-group col-6">
                        {{ form_label(form.lastName) }}
                        {{ form_widget(form.lastName) }}
                        <div class="form-error">
                            {{ form_errors(form.lastName) }}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                        {{ form_label(form.pseudo) }}
                        {{ form_widget(form.pseudo) }}
                        <div class="form-error">
                            {{ form_errors(form.pseudo) }}
                        </div>
                    </div>

                <div class="row d-flex justify-content-start">
                    <div class="form-group">
                        {{ form_row(form.plainPassword) }}
                        <div class="form-error">
                            {{ form_errors(form.plainPassword) }}
                        </div>
                    </div>
                </div>
         
            {{ form_end(form) }}
        </div> 
    </div>

{% endblock %}
